<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-searchbar [(ngModel)]="searchInput" placeholder="Search a teacher" type="search"></ion-searchbar>
    <ion-list inset="true">

      <fieldset>
        <legend>Sort by :</legend>

        <div class="btn-group" data-toggle="buttons">
          <label id='RADIO' class="btn btn-primary">
            <input type="radio" name="sortBy" value="firstName">First name
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="sortBy" value="lastName">Last Name
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="sortBy" value="yearsOfExperience">Years of experience
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="sortBy" value="discipline">Discipline
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="sortBy" value="email">Email
          </label>
        </div>

        <div id="results"></div>



          <input type="radio" id="discipline" name="sortBy" value="discipline">
          <label for="discipline">Discipline </label>

          <input type="radio" id="email" name="sortBy" value="email">
          <label for="email">Email</label>
      </fieldset>

      <ion-item *ngFor="let teacher of teachers | sort: 'sortBy.value' | search: searchInput">

        <ion-card>
          <ion-card-header>
            <ion-card-title> Pr. {{teacher.firstName}} {{teacher.lastName}}</ion-card-title>
            <ion-card-subtitle>
              {{teacher.yearsOfExperience }} years of experience in {{ teacher.discipline}}
            </ion-card-subtitle>
            <ion-card-subtitle>
              {{teacher.email}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{teacher.urlPhoto}}
          </ion-card-content>
        </ion-card>

        <ion-button color="danger" (click)="delete(teacher)">
          <ion-icon name="trash-outline"> </ion-icon>
        </ion-button>
        <ion-button color="primary" [routerLink]="['../edit', teacher.id]">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['../add']">
      <span>Add a teacher</span>
    </ion-button>
  </div>
</ion-content>
