<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-searchbar [(ngModel)]="searchInput" placeholder="Search a course" type="search"></ion-searchbar>
    <ion-list inset="true">
      <ion-item *ngFor="let course of courses | searchCourse: searchInput">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{course.name}} </ion-card-title>
            <ion-card-subtitle *ngFor="let prof of course.user">
              {{prof['firstName']}} {{prof['lastName']}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>Pupils: {{course.pupils}} </ion-card-content>
        </ion-card>
        <ion-button color="danger" (click)="delete(course)"
        ><ion-icon name="trash-outline"> </ion-icon
        ></ion-button>
        <ion-button color="primary" [routerLink]="['../edit', course.id]"
        ><ion-icon name="pencil-outline"></ion-icon
        ></ion-button>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['../add']">
      <span>Add a course</span>
    </ion-button>
  </div>
</ion-content>
