<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-searchbar [(ngModel)]="searchInput" placeholder="Search a teacher" type="search"></ion-searchbar>
    <ion-list inset="true">
      <ion-item *ngFor="let teacher of teachers | searchTeacher: searchInput">

        <ion-card>
          <ion-card-header>
            <ion-card-title> Pr. {{teacher.firstName}} {{teacher.lastName}}</ion-card-title>
            <ion-card-subtitle>
              {{teacher.yearsOfExperience }} years of experience in {{ teacher.discipline}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{teacher.email}}
          </ion-card-content>
        </ion-card>

        <ion-button color="danger" (click)="delete(teacher)">
          <ion-icon name="trash-outline"> </ion-icon>
        </ion-button>
        <ion-button color="primary" [routerLink]="['../edit', teacher.id]">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['../add']">
      <span>Add a teacher</span>
    </ion-button>
  </div>
</ion-content>
