<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Username</ion-label>
          <ion-input name="login" type="text"
                     [ngClass]="{'app-error': form.controls['login'].invalid && form.controls['login'].dirty}"
                     formControlName="login">
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p class="app-message-error" [hidden]="form.controls['login'].valid || form.controls['login'].pristine">
            Username is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input name="password" type="password"
                     [ngClass]="{'app-error': form.controls['password'].invalid && form.controls['password'].dirty}"
                     formControlName="password">
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p class="app-message-error" [hidden]="form.controls['password'].valid || form.controls['password'].pristine">
            Password is required
          </p>
        </ion-text>
      </ion-list>

<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-button type="submit" expand="block">Login</ion-button>-->
<!--        </ion-col>-->
<!--        &lt;!&ndash;      <ion-col>&ndash;&gt;-->
<!--        &lt;!&ndash;        <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>&ndash;&gt;-->
<!--        &lt;!&ndash;      </ion-col>&ndash;&gt;-->
<!--      </ion-row>-->
      <ion-button type="submit" [disabled]="!form.valid">Login</ion-button>
    </form>
  </div>
</ion-content>

